In [9]:
import os
print(os.getcwd())

import sys
print(sys.path)

c:\Users\csake\OneDrive\Documentos\Maestria Clases\S3 C2 Despliegue de Soluciones Analíticas\Proyecto\modelo_clasificacion\model\processing
['c:\\Users\\csake\\OneDrive\\Documentos\\Maestria Clases\\S3 C2 Despliegue de Soluciones Analíticas\\Proyecto\\modelo_clasificacion\\model\\processing', 'c:\\Users\\csake\\anaconda3\\python310.zip', 'c:\\Users\\csake\\anaconda3\\DLLs', 'c:\\Users\\csake\\anaconda3\\lib', 'c:\\Users\\csake\\anaconda3', '', 'c:\\Users\\csake\\anaconda3\\lib\\site-packages', 'c:\\Users\\csake\\anaconda3\\lib\\site-packages\\win32', 'c:\\Users\\csake\\anaconda3\\lib\\site-packages\\win32\\lib', 'c:\\Users\\csake\\anaconda3\\lib\\site-packages\\Pythonwin']

In [28]:
import pandas as pd
import numpy as np 
data = pd.DataFrame({'col1':[1,0,1,0],
              'col2':[1,0,0,1],
              'col3':[0,1,1,1],
              'col4':[1,1,1,1]})

print(data)
def rellenar_columnas(data,col):
    print(data.columns[np.where(data.columns != col)])
    col_assert='col3'
    data[col] = data.apply(lambda x: x[col] if x[col_assert]==0 else 0 ,axis=1) 

rellenar_columnas(data,'col1')

   col1  col2  col3  col4
0     1     1     0     1
1     0     0     1     1
2     1     0     1     1
3     1     1     1     1
Index(['col2', 'col3', 'col4'], dtype='object')

In [41]:
data = pd.DataFrame({'col1':[0,0,1,1],
              'col2':[1,0,0,1],
              'dasdsads':[1,1,1,1]})

def keep_first_one(row):
    found_first_one = False
    for i, value in enumerate(row):
        if value == 1 and not found_first_one:
            found_first_one = True
        else:
            row.iat[i] = 0
    return row


data = data.apply(keep_first_one, axis=1)
data

   col1  col2  dasdsads
0     0     1         0
1     0     0         1
2     1     0         0
3     1     0         0